@font-face {
  font-family: 'NotoSansSC_Regular';
  src: url('../src/assets/fonts/NotoSansSC_Regular.eot');
  src: local('☺'), url('../src/assets/fonts/NotoSansSC_Regular.woff') format('woff'),
  url('../src/assets/fonts/NotoSansSC_Regular.ttf') format('truetype'),
  url('../src/assets/fonts/NotoSansSC_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansSC_Bold';
  src: url('../src/assets/fonts/NotoSansSC_Bold.eot');
  src: local('☺'), url('../src/assets/fonts/NotoSansSC_Bold.woff') format('woff'),
  url('../src/assets/fonts/NotoSansSC_Bold.ttf') format('truetype'),
  url('../src/assets/fonts/NotoSansSC_Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansSC_Medium';
  src: url('../src/assets/fonts/NotoSansSC_Medium.eot');
  src: local('☺'), url('../src/assets/fonts/NotoSansSC_Medium.woff') format('woff'),
  url('../src/assets/fonts/NotoSansSC_Medium.ttf') format('truetype'),
  url('../src/assets/fonts/NotoSansSC_Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF_Pro_Display_Regular';
  src: url('../src/assets/fonts/SF_Pro_Display_Regular.eot');
  src: local('☺'), url('../src/assets/fonts/SF_Pro_Display_Regular.woff') format('woff'),
  url('../src/assets/fonts/SF_Pro_Display_Regular.ttf') format('truetype'),
  url('../src/assets/fonts/SF_Pro_Display_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
