.mainLayout__wrapper .loginLayout__wrapper {
  width: 100%;
  height: 100%;
}

.mainLayout__container .loginLayout__container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
