.home__container {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__authorization {
  width: 100%;
  padding: 10px;
}
.home__authorization-title {
  text-align: center;
  margin-bottom: 20px;
}